Repository republik/plattform, pull requests merged in 2022-04, with the labels that each got.

#89 fix(www/Checkout): show the contact-form if a user has no fname or lname
  apps/www/components/Pledge/Submit.js
  apps/www/lib/translations.json
Labels: app: www

#78 Artikel-Ende: recommendations in Meta
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/ArticleRecommendationItem.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/ArticleRecommendations.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/util/ArraySwapElementsUtility.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/util/ArraySwapElementsUtility.test.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/util/RepoLinkUtility.js
  apps/publikator/components/editor/modules/meta/ui.js
  apps/publikator/components/editor/utils/RepoSearch.js
  apps/publikator/lib/translations.json
  apps/www/components/ActionBar/BookmarkButton.js
  apps/www/components/ActionBar/DiscussionLinkButton.js
  apps/www/components/ActionBar/index.js
  apps/www/components/Article/ArticleRecommendationsFeed.tsx
  apps/www/components/Article/AutoDiscussionTeaser.js
  apps/www/components/Article/Page.js
  apps/www/components/Article/graphql/getArticleRecommendations.graphql.ts
  apps/www/lib/translations.json
  packages/backend-modules/base/lib/PgDb/queryInBatches.js
  packages/backend-modules/documents/graphql/resolvers/Document.js
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/documents/lib/meta.js
  packages/backend-modules/documents/lib/resolve.js
  packages/backend-modules/publikator/graphql/resolvers/Meta.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/publish.js
  packages/backend-modules/publikator/lib/Derivative/SyntheticReadAloud.ts
  packages/backend-modules/publikator/package.json
  packages/backend-modules/publikator/script/extractRecommendations.ts
  packages/backend-modules/redirections/lib/Redirections.js
  packages/backend-modules/search/lib/Documents.js
  packages/styleguide/src/components/TeaserFeed/Container.js
  packages/styleguide/src/components/TeaserFeed/docs.md
  packages/styleguide/src/components/TeaserFeed/index.js
  yarn.lock
Labels: app: api, app: publikator, app: www

#95 fix(publikator): query Document.id on meta.format to avoid invariant violation
  apps/publikator/components/Publication/Current.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/ArticleRecommendationItem.js
Labels: bug, app: publikator

#97 Drop COVID19 interest, enable PROJECTR subscription requests
  packages/backend-modules/mail/templates/newsletter_request_PROJECTR.html
  packages/backend-modules/mail/templates/newsletter_request_PROJECTR.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/requestNewsletterSubscription.js
  packages/backend-modules/republik/graphql/schema-types.js
  packages/backend-modules/translate/translations.json
Labels: app: api

#101 fix(admin): render address name in payments list
  apps/admin/components/Payments/List/Table.js
Labels: app: admin

#100 fix(mail): subscribe to editorial newsletters when resubscribing to MailChimp
  packages/backend-modules/mail/express/mailchimp.js
Labels: app: api
