Repository republik/plattform, pull requests merged in 2022-02, with the labels that each got.

#3 refactor(publikator): implement new Discussion/Comment interface
  apps/publikator/components/editor/modules/memo/MemoTree.js
  apps/publikator/lib/translations.json
  apps/www/components/Discussion/CommentContainers/CommentContainer.tsx
  apps/www/components/Discussion/CommentContainers/StatementContainer.tsx
  packages/styleguide/src/components/Discussion/Statements/StatementNode.js
  packages/styleguide/src/components/Discussion/Tree/CommentNode.tsx
Labels: app: publikator, package: styleguide

#17 feat(EditOverlay): add table to templates
  apps/publikator/components/editor/modules/chart/EditOverlay/config.js
  apps/publikator/public/static/charts/table.png
Labels: package: styleguide

#20 www: fix notification settings section-titles
  apps/www/components/Notifications/SubscribedDocuments.js
Labels: app: www

#14 fix(www-Footer): add new github link to frontend
  apps/www/components/Footer/index.js
Labels: app: www

#18 fix(Portrait): darkmode compatibility for drop area
  apps/www/components/Profile/Portrait.js
Labels: bug, app: www

#22 Update userCanComment resolver to return false if the discussion has been closed.
  packages/backend-modules/discussions/graphql/resolvers/Discussion/userCanComment.js
Labels: app: api

#19 fix(Nav): only show search field if has activeMembership
  apps/www/components/Frame/Popover/Nav.js
Labels: bug, app: www

#32 Styleguide emit type declarations
  packages/styleguide/package.json
  packages/styleguide/tsconfig.dist.json
Labels: package: styleguide

#36 build: disables turbo cache on backend-modules
  turbo.json
Labels: app: api, app: assets

#37 Fix Statement Focus
  apps/www/components/Testimonial/List.js
  apps/www/lib/translations.json
  apps/www/pages/community.js
  packages/backend-modules/republik/graphql/resolvers/_queries/statements.js
Labels: app: api, app: www

#31 Audio fixes
  apps/publikator/components/editor/modules/meta/AudioForm.js
  apps/publikator/lib/translations.json
  apps/www/components/Article/Page.js
  apps/www/components/Feed/Format.js
  apps/www/components/Sections/SectionFeed.js
  package.json
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/documents/lib/meta.js
  packages/backend-modules/publikator/lib/Document.js
  packages/backend-modules/search/graphql/schema-types.js
  packages/backend-modules/search/lib/Documents.js
  packages/backend-modules/search/lib/indices/documents.js
  packages/backend-modules/translate/translations.json
  packages/styleguide/public/static/carousel/audio1.jpeg
  packages/styleguide/public/static/carousel/audio2.png
  packages/styleguide/src/components/TeaserCarousel/Tile.js
  packages/styleguide/src/components/TeaserCarousel/docs.md
  scripts/build.sh
  yarn.lock
Labels: app: api, app: publikator, app: www, package: styleguide

#40 feat(Chart): add multi line annotations and text alignment functionality
  apps/publikator/package.json
  packages/styleguide/src/components/Chart/LineGroup.js
  packages/styleguide/src/components/Chart/Lines.context.js
  packages/styleguide/src/components/Chart/Lines.docs.md
  packages/styleguide/src/components/Chart/TimeBarsAnnotations.js
  packages/styleguide/src/components/Chart/utils.js
Labels: package: styleguide

#47 fix(ShareImage): offizielle campa
  apps/www/public/static/social-media/teilen.png
Labels: app: www

#44 Improve Share Chart
  apps/www/components/Access/Campaigns/ShareChart.js
  apps/www/lib/translations.json
  apps/www/lib/utils/format.js
  apps/www/pages/cockpit.js
Labels: app: www
