Repository republik/plattform, pull requests merged in 2022-11, with the labels that each got.

#252 Fix importPayments if CAMT.053 file contains no entries
  packages/backend-modules/republik-crowdfundings/lib/scheduler/payments/fixtures/camt053noEntries.xml
  packages/backend-modules/republik-crowdfundings/lib/scheduler/payments/parseCamt053.ts
  packages/backend-modules/republik-crowdfundings/lib/scheduler/payments/parseCamt053.u.jest.ts
Labels: bug

#261 www: redirect /journal to latest journal-entry
  apps/admin/lib/apollo/index.ts
  apps/admin/next.config.js
  apps/publikator/lib/apollo/index.ts
  apps/publikator/next.config.js
  apps/www/components/Frame/Popover/FlyerNavLink.js
  apps/www/components/Frame/Popover/NavLink.js
  apps/www/components/Frame/Popover/UserNav.js
  apps/www/components/Frame/Popover/useFlyerMeta.js
  apps/www/components/Frame/SecondaryNav.js
  apps/www/components/Sections/Featured.js
  apps/www/lib/apollo/index.ts
  apps/www/lib/errors.js
  apps/www/lib/middleware/journalRedirect.ts
  apps/www/middleware.ts
  apps/www/next.config.js
Labels: app: www

#263 refactor(www/audio): improve AudioPlayer action tracking
  apps/www/components/ActionBar/AudioInfo.js
  apps/www/components/ActionBar/index.js
  apps/www/components/Article/Page.js
  apps/www/components/Audio/AudioPlayer/AudioPlaybackElement.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/latest/LatestArticleItem.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/queue/Queue.tsx
  apps/www/components/Audio/AudioPlayerController.tsx
  apps/www/components/Audio/AudioProvider.tsx
  apps/www/components/Audio/LegacyAudioPlayer/LegacyAudioPlayer.tsx
  apps/www/components/Audio/constants.ts
  apps/www/components/Audio/hooks/useAudioQueue.tsx
  apps/www/components/Audio/types/AudioActionTracking.ts
  apps/www/components/Front/index.js
  apps/www/components/Marketing/Carousel.tsx
  apps/www/components/Marketing/Top.tsx
Labels: app: www

#264 feat(www/audio): disable scrubber in mini-audioplayer on mobile - viewports
  apps/www/components/Audio/AudioPlayer/MiniAudioPlayer.tsx
Labels: app: www

#266 feat(www/front): show play-buttons on all tiles that have audio that isn't synthetic
  apps/www/components/Front/index.js
  packages/backend-modules/documents/lib/mdast/resolve.js
  packages/styleguide/src/templates/Front/index.js
Labels: app: api, app: www

#272 fix(www/audio): render button to toggle AudioItem actions
  apps/www/components/Audio/AudioPlayer/ui/tabs/shared/AudioCalloutMenu.tsx
Labels: app: www

#273 fix(www): replace translation-strings 'Magazin lesen' with 'Zum Magazin'
  apps/www/lib/translations.json
Labels: app: www

#244 revert: remove READALOUD newsletter interest group
  apps/www/public/static/republik-zum-hoeren.png
  apps/www/public/static/social-media/hoeren.png
  packages/backend-modules/mail/templates/newsletter_request_READALOUD.html
  packages/backend-modules/mail/templates/newsletter_request_READALOUD.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/requestNewsletterSubscription.js
  packages/backend-modules/republik/graphql/schema-types.js
  packages/backend-modules/translate/translations.json
Labels: app: api

#239 fix(invoices): pass debtor country code, not creditor
  packages/backend-modules/invoices/lib/commons.ts
  packages/backend-modules/invoices/lib/invoice.ts
  packages/backend-modules/invoices/package.json
  yarn.lock
Labels: app: api, maintenance

#275 docs: add documentation on how to setup the authentication env-variables
  README.md
  apps/www/README.md
Labels: documentation

#277 fix(www/audio): no longer disable the skip-action if only one item is left in the queue
  apps/www/components/Audio/AudioPlayer/ExpandedAudioPlayer.tsx
  apps/www/components/Audio/AudioPlayer/controls/AudioControl.tsx
  apps/www/components/Audio/AudioPlayerController.tsx
Labels: app: www

#251 chore: bump Next.js to v12.3.1 across all apps
  apps/admin/package.json
  apps/admin/pages/_app.tsx
  apps/publikator/package.json
  apps/publikator/pages/_app.tsx
  apps/www/package.json
  apps/www/pages/_app.tsx
  packages/nextjs-apollo-client/package.json
  packages/nextjs-apollo-client/src/apollo/useApollo.ts
  packages/nextjs-apollo-client/src/helpers/withApollo.tsx
  yarn.lock
Labels: maintenance

#280 fix(statistics): find previous paths via redirections
  packages/backend-modules/statistics/lib/matomo/collect.js
  packages/backend-modules/statistics/lib/pgdb/redirections.js
Labels: bug, app: api, refactoring

#276 feat(www): allow toggling playback from action bar and article
  apps/www/components/ActionBar/index.js
  apps/www/components/Audio/AudioPlayer/ui/tabs/latest/LatestArticleItem.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/queue/Queue.tsx
  apps/www/components/Audio/AudioPlayerController.tsx
  apps/www/components/Audio/AudioProvider.tsx
  apps/www/components/Audio/LegacyAudioPlayer/LegacyAudioPlayer.tsx
  apps/www/components/Audio/hooks/useAudioQueue.tsx
  apps/www/components/Marketing/Carousel.tsx
  packages/styleguide/src/components/Icons/index.js
Labels: app: www

#284 fix(www/audio): complete migrating variable ActivePlayerItem -> LegayPlayerItem introduced with #276
  apps/www/components/Audio/AudioProvider.tsx
Labels: bug, app: www

#285 fix(www/nav): render the back-button in the iOS app on all pages but the magazin-front
  apps/www/components/Frame/Header.js
Labels: bug, app: www

#288 fix(www): redirect /webfinger, provide .well-known before redirect
  apps/www/.env.example
  apps/www/server/index.js
Labels: app: www

#290 Calendar, CalendarSlot improvements
  packages/backend-modules/calendar/graphql/resolvers/Calendar.js
  packages/backend-modules/calendar/graphql/resolvers/_mutations/bookCalendarSlot.js
  packages/backend-modules/calendar/graphql/resolvers/_mutations/cancelCalendarSlot.js
  packages/backend-modules/calendar/graphql/schema-types.js
  packages/backend-modules/calendar/lib/utils.ts
  packages/backend-modules/calendar/migrations/sqls/20221126094529-limit-slots-per-key-down.sql
  packages/backend-modules/calendar/migrations/sqls/20221126094529-limit-slots-per-key-up.sql
  packages/backend-modules/migrations/migrations/20221126094529-limit-slots-per-key.js
  packages/backend-modules/translate/translations.json
Labels: bug, enhancement, app: api

#253 feat(api): add guard for sendTestNotification and sendTestPushNotification
  packages/backend-modules/subscriptions/graphql/resolvers/_mutations/sendTestNotification.js
  packages/backend-modules/subscriptions/graphql/resolvers/_mutations/sendTestPushNotification.js
Labels: app: api

#287 feat(mailbox): add script to copy mails between ES instances
  packages/backend-modules/base/lib/Elasticsearch.js
  packages/backend-modules/mailbox/script/copy.js
Labels: app: api

#292 feat(goodie): add new goodie mug to goodie options, translation keys …
  apps/www/components/Pledge/PledgeOptions/GoodieOptions.tsx
  apps/www/lib/translations.json
  apps/www/public/static/packages/mug.png
  apps/www/public/static/packages/mug_ceramic.png
  packages/backend-modules/mail/templates/payment_successful_abo.html
  packages/backend-modules/mail/templates/payment_successful_abo.txt
  packages/backend-modules/mail/templates/payment_successful_abo_give.html
  packages/backend-modules/mail/templates/payment_successful_abo_give.txt
  packages/backend-modules/mail/templates/payment_successful_abo_give_months.html
  packages/backend-modules/mail/templates/payment_successful_abo_give_months.txt
  packages/backend-modules/mail/templates/payment_successful_benefactor.html
  packages/backend-modules/mail/templates/payment_successful_benefactor.txt
  packages/backend-modules/mail/templates/pledge_abo.html
  packages/backend-modules/mail/templates/pledge_abo.txt
  packages/backend-modules/mail/templates/pledge_abo_give.html
  packages/backend-modules/mail/templates/pledge_abo_give.txt
  packages/backend-modules/mail/templates/pledge_abo_give_months.html
  packages/backend-modules/mail/templates/pledge_abo_give_months.txt
  packages/backend-modules/mail/templates/pledge_benefactor.html
  packages/backend-modules/mail/templates/pledge_benefactor.txt
  packages/backend-modules/mail/templates/pledge_prolong.html
  packages/backend-modules/mail/templates/pledge_prolong.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/translate/translations.json
Labels: app: api, app: www
