Repository republik/plattform, pull requests merged in 2022-09, with the labels that each got.

#189 feat(readAloud): landing Page
  apps/www/components/Auth/EmailForm.js
  apps/www/components/Auth/NewsletterSignUp.js
  apps/www/components/Frame/index.js
  apps/www/lib/translations.json
  apps/www/pages/hoeren/index.tsx
  apps/www/public/static/republik-zum-hoeren.png
  apps/www/public/static/social-media/hoeren.png
Labels: app: www

#194 Fix newsletter resubscribe mutation, updateMe mutation
  apps/www/components/Account/NewsletterSubscriptions/index.js
  apps/www/components/Account/enhancers.js
  packages/backend-modules/assets/lib/Portrait.js
Labels: app: api, app: www

#208 Fix daily statistics report
  packages/backend-modules/statistics/lib/matomo/data.js
  packages/backend-modules/statistics/script/report/daily.js
Labels: app: api

#212 Improves Popover/Sections query loading speed
  apps/www/components/Frame/Popover/Sections.js
  apps/www/components/Sections/Index.js
  packages/backend-modules/search/lib/options.js
Labels: app: api, app: www

#213 Pass identifiers to the apollo-client across our web-clients
  apps/admin/lib/apollo/index.ts
  apps/admin/next.config.js
  apps/publikator/lib/apollo/index.ts
  apps/publikator/next.config.js
  apps/www/lib/apollo/index.ts
  apps/www/lib/errors.js
  apps/www/next.config.js
  packages/nextjs-apollo-client/src/apollo/apolloClient.ts
  packages/nextjs-apollo-client/src/index.ts
Labels: app: admin, app: publikator, app: www

#216 fix(styleguide/templates): don't render series nav within the article if series-meta is null
  packages/styleguide/src/templates/Article/teasers.js
Labels: app: www, package: styleguide

#215 User audio queue API
  packages/backend-modules/collections/graphql/resolvers/AudioQueueItem.js
  packages/backend-modules/collections/graphql/resolvers/User.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/addAudioQueueItem.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/clearAudioQueue.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/moveAudioQueueItem.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/removeAudioQueueItem.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/reorderAudioQueue.js
  packages/backend-modules/collections/graphql/schema-types.js
  packages/backend-modules/collections/graphql/schema.js
  packages/backend-modules/collections/lib/AudioQueue.js
  packages/backend-modules/collections/loaders/AudioQueue.js
  packages/backend-modules/collections/loaders/index.js
  packages/backend-modules/collections/migrations/sqls/20220825121455-audio-queue-down.sql
  packages/backend-modules/collections/migrations/sqls/20220825121455-audio-queue-up.sql
  packages/backend-modules/migrations/migrations/20220825121455-audio-queue.js
  packages/backend-modules/translate/translations.json
Labels: app: api

#131 fix(publikator): save comment id and marker at once
  apps/publikator/components/editor/modules/memo/index.js
Labels: app: publikator

#220 fix: signal caching CORS preflight up to 24 hours
  apps/assets/server.js
  packages/backend-modules/base/server.js
Labels: app: api, app: assets

#221 More Journal Fixes
  apps/publikator/components/Calendar/Day.js
  apps/publikator/components/ContentEditor/index.js
  apps/publikator/components/Edit/EditView.js
  apps/publikator/components/Edit/index.js
  apps/publikator/lib/utils/calendar.js
  apps/publikator/pages/flyer/[owner]/[repo]/preview.js
  packages/styleguide/src/components/Editor/schema/flyer.tsx
  packages/styleguide/src/components/Editor/schema/flyerEditor.tsx
  packages/styleguide/src/components/Flyer/index.tsx
Labels: enhancement, app: publikator, package: styleguide
