Repository republik/plattform, pull requests merged in 2022-10, with the labels that each got.

#223 Quiz
  apps/publikator/lib/translations.json
  packages/styleguide/src/components/Editor/Core/decorators/delete.ts
  packages/styleguide/src/components/Editor/Core/helpers/structure.ts
  packages/styleguide/src/components/Editor/__docs__/flyer.imports.tsx
  packages/styleguide/src/components/Editor/config/elements/flyer/components/quiz/answerInfo.tsx
  packages/styleguide/src/components/Editor/config/elements/flyer/components/quiz/container.tsx
  packages/styleguide/src/components/Editor/config/elements/flyer/components/quiz/item.tsx
  packages/styleguide/src/components/Editor/config/elements/flyer/index.tsx
  packages/styleguide/src/components/Editor/config/elements/index.ts
  packages/styleguide/src/components/Editor/custom-types.d.ts
  packages/styleguide/src/components/Editor/schema/flyer.tsx
  packages/styleguide/src/components/Editor/test/block-conversion.test.js
  packages/styleguide/src/components/Flyer/Quiz.tsx
  packages/styleguide/src/lib/translations.json
Labels: package: styleguide

#225 Asset Server Crop / Audio Cover Generator / Publikator Cropper
  apps/publikator/components/MetaDataForm/components/Layout.js
  apps/publikator/components/MetaDataForm/index.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/ArticleRecommendations.js
  apps/publikator/components/editor/modules/meta/AudioForm.js
  apps/publikator/components/editor/modules/meta/ui.js
  apps/publikator/components/editor/utils/ImageCrop.js
  apps/publikator/lib/graphql/fragments.js
  apps/publikator/package.json
  packages/backend-modules/assets/lib/getCropDimensions.js
  packages/backend-modules/assets/lib/getWidthHeight.js
  packages/backend-modules/assets/lib/returnImage.js
  packages/backend-modules/documents/graphql/schema-types.js
  packages/styleguide/src/components/AudioCoverGenerator/docs.md
  packages/styleguide/src/components/AudioCoverGenerator/index.tsx
  packages/styleguide/src/components/Form/Slider.docs.md
  packages/styleguide/src/components/Form/Slider.tsx
  packages/styleguide/src/index.js
  packages/styleguide/src/lib.ts
  yarn.lock
Labels: app: api, app: publikator, package: styleguide

#179 fix(publikator): vertically center date in calendar view and reduce chevron size
  apps/publikator/components/Calendar/Nav.js
Labels: app: publikator

#235 Publikator: Files
  apps/publikator/components/Edit/Nav.js
  apps/publikator/components/Files/Info.js
  apps/publikator/components/Files/Row.js
  apps/publikator/components/Files/Upload.js
  apps/publikator/components/Files/actions/Destroy.js
  apps/publikator/components/Files/actions/Publish.js
  apps/publikator/components/Files/index.js
  apps/publikator/lib/graphql/fragments.js
  apps/publikator/package.json
  apps/publikator/pages/repo/[owner]/[repo]/files.js
  packages/backend-modules/assets/lib/s3.js
  packages/backend-modules/migrations/migrations/20221010192700-files.js
  packages/backend-modules/publikator/.gitignore
  packages/backend-modules/publikator/graphql/resolvers/Repo.js
  packages/backend-modules/publikator/graphql/resolvers/RepoFile.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/repoFileDestroy.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/repoFileMakePublic.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/repoFileUploadAbort.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/repoFileUploadBegin.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/repoFileUploadCommit.js
  packages/backend-modules/publikator/graphql/schema-types.js
  packages/backend-modules/publikator/graphql/schema.js
  packages/backend-modules/publikator/lib/File/utils.ts
  packages/backend-modules/publikator/loaders/File.ts
  packages/backend-modules/publikator/loaders/index.ts
  packages/backend-modules/publikator/migrations/sqls/20221010192700-files-down.sql
  packages/backend-modules/publikator/migrations/sqls/20221010192700-files-up.sql
  packages/backend-modules/translate/translations.json
  yarn.lock
Labels: app: api, app: publikator

#238 fix(assets): pass necessary params to PDF endpoint, rest to asset server
  packages/backend-modules/assets/express/pdf.js
Labels: bug, app: assets

#241 refactor(www/audio): allow removing the active-item from action-bar and refactor queue-advance
  apps/www/components/ActionBar/index.js
  apps/www/components/Audio/AudioPlayerController.tsx
  apps/www/components/Audio/AudioProvider.tsx
  package.json
Labels: app: www, refactoring

#243 AudioPlayer: refactor add and remove item actions as well as the surrounding logic
  apps/www/components/ActionBar/index.js
  apps/www/components/Audio/AudioPlayer/AudioPlaybackElement.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/latest/LatestArticleItem.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/queue/EmptyQueue.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/queue/Queue.tsx
  apps/www/components/Audio/AudioPlayerController.tsx
  apps/www/components/Audio/AudioProvider.tsx
  apps/www/components/Audio/hooks/useAudioQueue.tsx
  apps/www/components/Frame/Toggle.js
  apps/www/components/Front/index.js
  apps/www/lib/react-native/useNativeAppEvent.ts
  apps/www/lib/translations.json
Labels: app: www, refactoring
