Repository republik/plattform, pull requests merged in 2022-12, with the labels that each got.

#279 refactor: update turbo-repo commands to use non legacy command flags
  README.md
  package.json
  scripts/build.sh
  yarn.lock
Labels: maintenance

#294 feat(Questionnaire): adds query to end of pledge RENEW
  apps/www/components/Pledge/Merci.js
  apps/www/components/Questionnaire/Questionnaire.js
  apps/www/components/Questionnaire/QuestionnaireActions.js
Labels: app: www

#307 feat(User): add prolitterisId to user
  apps/www/components/Profile/Contact.js
  apps/www/components/Profile/Edit.js
  apps/www/components/Profile/Page.js
  apps/www/lib/translations.json
  packages/backend-modules/migrations/migrations/20221213141806-add-prolitteris-id.js
  packages/backend-modules/republik-crowdfundings/graphql/resolvers/_mutations/mergeUsers.js
  packages/backend-modules/republik/graphql/resolvers/User.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/updateMe.js
  packages/backend-modules/republik/graphql/schema-types.js
  packages/backend-modules/republik/graphql/schema.js
  packages/backend-modules/republik/migrations/sqls/20221213141806-add-prolitteris-id-down.sql
  packages/backend-modules/republik/migrations/sqls/20221213141806-add-prolitteris-id-up.sql
  packages/backend-modules/republik/script/gdpr/extractPersonalData.js
  packages/backend-modules/translate/translations.json
Labels: app: api, app: www

#306 feat: allow reporting comments for guests
  apps/www/components/Discussion/CommentContainers/CommentContainer.tsx
  apps/www/components/Discussion/CommentContainers/StatementContainer.tsx
  apps/www/components/Discussion/CommentContainers/getCommentActions.ts
  apps/www/components/Discussion/helpers/useLocalCommentReports.ts
  apps/www/components/Discussion/hooks/actions/useReportCommentHandler.ts
  packages/backend-modules/discussions/graphql/resolvers/Comment.js
  packages/backend-modules/discussions/graphql/resolvers/_mutations/reportComment.js
  packages/backend-modules/discussions/lib/slack.js
Labels: app: api, app: www

#305 feat: extend ArticlePage to allow for special coloring to be used with Klimalabor
  apps/publikator/components/editor/modules/meta/ui.js
  apps/publikator/lib/translations.json
  apps/www/components/Article/Page.js
  apps/www/components/Climatelab/config.js
  apps/www/components/Frame/OptionalLocalColorContext.js
  apps/www/components/Frame/index.js
  packages/styleguide/src/components/Colors/ColorContext.tsx
Labels: app: publikator, app: www, package: styleguide

#311 feat: introduce Meta.suggestSubscription
  apps/www/components/Notifications/SubscribedDocuments.js
  apps/www/components/Notifications/enhancers.js
  apps/www/components/Onboarding/Page.js
  apps/www/components/Onboarding/Sections/Subscriptions.js
  apps/www/components/Onboarding/Sections/Usability.js
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/search/lib/filters.js
  packages/backend-modules/search/lib/indices/documents.js
Labels: app: api, app: www

#317 fix: cleaned MailChimp user transactional, access grant transactional
  packages/backend-modules/access/lib/mail.js
  packages/backend-modules/mail/lib/scheduler/cleanedUserMailing.js
  packages/backend-modules/mail/lib/scheduler/index.js
  packages/backend-modules/mail/lib/sendMailsToSegment.js
Labels: app: api

#319 feat: prepare carpet-text for 2023
  apps/www/components/Front/index.js
  apps/www/components/Overview/Page.js
  apps/www/components/Overview/pages/2022.js
  apps/www/components/Overview/pages/2023.js
  apps/www/pages/2018.js
  apps/www/pages/2018/index.js
  apps/www/pages/2019.js
  apps/www/pages/2019/index.js
  apps/www/pages/2020.js
  apps/www/pages/2020/index.js
  apps/www/pages/2021.js
  apps/www/pages/2021/index.js
  apps/www/pages/2022.js
  apps/www/pages/2022/index.js
  apps/www/pages/2023/index.js
  apps/www/pages/2023/wochen.js
Labels: app: www
