Repository republik/plattform, pull requests merged in 2022-05, with the labels that each got.

#94 www: bump Next.js and refactor markdown pages
  apps/www/.babelrc
  apps/www/components/Article/Page.js
  apps/www/components/Pledge/LegalOverlay.js
  apps/www/jest.config.js
  apps/www/lib/utils/mdComponents.js
  apps/www/package.json
  apps/www/pages/agb.js
  apps/www/pages/cockpit.js
  apps/www/pages/cockpit19.js
  apps/www/pages/crowdfunding.js
  apps/www/pages/datenschutz.js
  apps/www/pages/maerzkampagne.js
  yarn.lock
Labels: app: www

#108 Extract pgp and reportError handlers into next.js api-routes
  apps/www/lib/api/HTTPMethods.ts
  apps/www/lib/api/withReqMethodGuard.tsx
  apps/www/lib/errors/reportError.ts
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/api/pgp/[userSlug].ts
  apps/www/pages/api/reportError.ts
  apps/www/server/index.js
  apps/www/server/pgp.js
  apps/www/server/useragent.ts
  yarn.lock
Labels: app: www

#11 feat(statistics): add credits lexer and analyzer libs, and sample script
  apps/publikator/components/Repo/Row.js
  apps/publikator/components/Repo/Table.js
  packages/backend-modules/documents/graphql/resolvers/Meta.js
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/documents/lib/meta.js
  packages/backend-modules/publikator/graphql/resolvers/Meta.js
  packages/backend-modules/publikator/graphql/schema-types.js
  packages/backend-modules/publikator/lib/Document.js
  packages/backend-modules/statistics/.gitignore
  packages/backend-modules/statistics/lib/credits/analyzer.ts
  packages/backend-modules/statistics/lib/credits/lexer.ts
  packages/backend-modules/statistics/package.json
  packages/backend-modules/statistics/script/analyzeCredits.js
  packages/backend-modules/statistics/script/analyzeCredits.strings
  packages/backend-modules/statistics/tsconfig.json
  packages/backend-modules/subscriptions/lib/Document.js
  yarn.lock
Labels: app: api

#116 Render the App version in the footer
  apps/www/components/Footer/index.js
Labels: app: www

#115 fix Overlay closing when mouse is released over backdrop
  packages/styleguide/src/components/Overlay/Overlay.tsx
Labels: package: styleguide

#117 Credits Lexer: Testsuite and Some New Cases
  apps/publikator/components/Repo/Row.js
  apps/www/components/Article/metadata.js
  packages/backend-modules/statistics/__test__/analyze.u.jest.js
  packages/backend-modules/statistics/lib/credits/analyzer.ts
  packages/backend-modules/statistics/lib/credits/lexer.ts
  packages/backend-modules/statistics/script/analyzeCredits.strings
Labels: app: api, app: publikator, app: www

#120 Improve CI by cancelling running actions if new commits are pushed.
  .github/workflows/test.yml
Labels: setup: ci

#102 SSG for front & marketing-page 🏎️ 💨
  .github/workflows/test.yml
  .husky/commit-msg
  apps/api/.env.example
  apps/www/.env.example
  apps/www/components/Frame/SecondaryNav.js
  apps/www/components/Frame/index.js
  apps/www/components/Front/graphql/getFrontQuery.graphql.ts
  apps/www/components/Front/index.js
  apps/www/components/Front/withData.js
  apps/www/components/Marketing/Carpet.js
  apps/www/components/Marketing/Community.js
  apps/www/components/Marketing/MiniFront.js
  apps/www/components/Marketing/Team.js
  apps/www/components/Marketing/graphql/MarketingPageQuery.graphql.tsx
  apps/www/components/Marketing/index.js
  apps/www/lib/apollo/apolloClient.ts
  apps/www/lib/auth/JWTHelper.ts
  apps/www/lib/auth/constants.js
  apps/www/lib/context/MeContext.tsx
  apps/www/lib/helpers/createGetServerSideProps.ts
  apps/www/lib/helpers/createGetStaticProps.ts
  apps/www/lib/helpers/middleware/FetchMeObject.ts
  apps/www/lib/withInNativeApp.js
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/_app.tsx
  apps/www/pages/_middleware.tsx
  apps/www/pages/_ssr/front/[extractId].tsx
  apps/www/pages/front.tsx
  apps/www/pages/index.js
  apps/www/pages/vorschau/index.js
  apps/www/server/index.js
  packages/backend-modules/auth/express/auth.js
  packages/backend-modules/auth/graphql/resolvers/_mutations/clearSession.js
  packages/backend-modules/auth/graphql/resolvers/_mutations/signOut.js
  packages/backend-modules/auth/lib/CookieOptions.js
  packages/backend-modules/auth/lib/Sessions.js
  packages/backend-modules/auth/lib/jwt.js
  packages/backend-modules/auth/lib/middlewares/JWTMiddleware.js
  packages/backend-modules/auth/package.json
  packages/backend-modules/base/express/graphql.js
  packages/backend-modules/base/server.js
  scripts/generate-keypair.sh
  yarn.lock
Labels: app: api, app: www
