Repository republik/plattform, pull requests merged in 2022-06, with the labels that each got.

#113 add functionality to revoke perks on access grants
  packages/backend-modules/access/lib/grants.js
  packages/backend-modules/access/lib/memberships.js
  packages/backend-modules/access/lib/perks/accessWithRole.js
  packages/backend-modules/access/lib/perks/giftMembership.js
Labels: app: api

#118 Improve UX for selecting credential in discussion-preferences
  apps/www/components/Discussion/context/DiscussionContext.ts
  apps/www/components/Discussion/overlays/DiscussionPreferences.js
  packages/styleguide/src/components/Form/Field.tsx
  packages/styleguide/src/components/Form/docs.md
Labels: app: www, package: styleguide

#122 Fix billing field length
  apps/admin/components/Users/Particulars/AddressFieldSet.js
  apps/admin/lib/translations.json
  apps/www/components/Account/AddressForm.js
  apps/www/components/Profile/Biography.js
  apps/www/components/Vote/ElectionCandidacy.js
  apps/www/lib/translations.json
  packages/backend-modules/republik-crowdfundings/graphql/resolvers/_mutations/payPledge.js
  packages/backend-modules/republik-crowdfundings/graphql/resolvers/_mutations/submitPledge.js
  packages/backend-modules/republik-crowdfundings/graphql/schema.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/updateAddress.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/updateMe.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/updateUser.js
  packages/backend-modules/republik/graphql/schema.js
  packages/backend-modules/republik/lib/address.js
  packages/backend-modules/translate/translations.json
Labels: app: api, app: www

#145 A11y Pledge Form
  apps/www/components/Account/AddressForm.js
  apps/www/components/Payment/Form.js
  apps/www/components/Payment/PSPIcons.js
  apps/www/components/Pledge/Submit.js
  packages/styleguide/src/components/Form/Field.tsx
  packages/styleguide/src/components/Form/FieldSet.js
Labels: app: www, accessibility

#144 A11Y: Seitentitel
  apps/www/components/Events/List.js
  apps/www/components/Frame/Meta.js
  apps/www/components/Marketing/Pledge.js
  apps/www/components/Pledge/Form.js
  apps/www/components/Profile/Page.js
  apps/www/lib/translations.json
  apps/www/pages/aktionariat.js
  apps/www/pages/rubriken.js
  apps/www/pages/wahltindaer/index.js
Labels: app: www, accessibility
