Repository republik/plattform, pull requests merged in 2022-08, with the labels that each got.

#114 Add option to script which sends mails to specific segments
  apps/api/.env.example
  apps/api/server.js
  packages/backend-modules/mail/README.md
  packages/backend-modules/mail/lib/scheduler/cleanedUserMailing.js
  packages/backend-modules/mail/lib/scheduler/index.js
  packages/backend-modules/mail/lib/sendMailsToSegment.js
  packages/backend-modules/mail/script/sendMailsToSegment/cleanedUserSubscriptionInvitation.js
  packages/backend-modules/mail/script/sendMailsToSegment/specialAccessCampaignMailing_kampa202202.js
  packages/backend-modules/mail/templates/cleaned_user_subscription_invitation.html
  packages/backend-modules/mail/templates/cleaned_user_subscription_invitation.txt
Labels: app: api

#154 3rd attempt at upgrading Next.js to use stable middleware API
  apps/www/components/Card/Group.js
  apps/www/components/Card/TrialForm.js
  apps/www/components/Pledge/CustomizePackage.js
  apps/www/components/Pledge/Merci.js
  apps/www/components/Search/withSearchRouter.js
  apps/www/components/Testimonial/Image.js
  apps/www/components/Testimonial/List.js
  apps/www/lib/auth/JWTHelper.ts
  apps/www/middleware.ts
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/_front/[extractId].tsx
  apps/www/pages/cockpit.js
  apps/www/pages/cockpit19.js
  apps/www/pages/maerzkampagne.js
  packages/nextjs-apollo-client/package.json
  yarn.lock
Labels: app: www, maintenance

#164 fix(www/search): ensure clear-icon is not 'clicked' when submitting the form
  apps/www/components/Search/Form.js
  packages/styleguide/src/components/Form/Field.tsx
Labels: bug, app: www

#168 ci: use --frozen-lockfile in test github-action
  .github/workflows/test.yml
Labels: setup: ci

#170 feat(Article): append link to read aloud page
  apps/www/components/ActionBar/index.js
  apps/www/components/Article/Page.js
  apps/www/components/Article/ReadAloudInline.tsx
  apps/www/lib/translations.json
Labels: app: www

#171 fix(admin): correctly pass apollo-client to merge-users component
  apps/admin/components/Users/Merge/index.js
  apps/admin/pages/merge-users.js
Labels: bug, app: admin

#174 fix(nextjs-apollo-client): lock Apollo Client to ~3.5.10
  apps/admin/package.json
  apps/www/package.json
  packages/nextjs-apollo-client/package.json
  yarn.lock
Labels: bug, app: admin, app: www

#175 Bump Next.js to v12.2.4 and refactor middleware me.roles fetching
  apps/admin/package.json
  apps/www/lib/helpers/middleware/FetchMeObject.ts
  apps/www/package.json
  packages/nextjs-apollo-client/package.json
  yarn.lock
Labels: bug, app: admin, app: www

#177 feat(www): add citation meta tags for zotero
  apps/www/components/Article/metadata.js
  apps/www/components/Frame/Meta.js
Labels: app: www

#180 fix/revert publikator react icons upgrade
  apps/publikator/components/Auth/Poller.js
  apps/publikator/components/Calendar/Nav.js
  apps/publikator/components/Derivatives/index.js
  apps/publikator/components/Publication/DarkmodeToggle.js
  apps/publikator/components/Publication/HasAccessToggle.js
  apps/publikator/components/Publication/PublicationLink.js
  apps/publikator/components/Repo/Add.js
  apps/publikator/components/Repo/EditMetaDate.js
  apps/publikator/components/Repo/Row.js
  apps/publikator/components/ScreenSizePicker/index.js
  apps/publikator/components/Sidebar/Warning.js
  apps/publikator/components/Table/index.js
  apps/publikator/components/Tree/Diff.js
  apps/publikator/components/Tree/index.js
  apps/publikator/components/VersionControl/BranchingNotice.js
  apps/publikator/components/VersionControl/UncommittedChanges.js
  apps/publikator/components/editor/modules/chart/EditOverlay/ChartCatalog.js
  apps/publikator/components/editor/modules/chart/EditOverlay/ChartSelector.js
  apps/publikator/components/editor/modules/chart/index.js
  apps/publikator/components/editor/modules/dynamiccomponent/index.js
  apps/publikator/components/editor/modules/figuregroup/index.js
  apps/publikator/components/editor/modules/link/ui.js
  apps/publikator/components/editor/modules/mark/index.js
  apps/publikator/components/editor/modules/memo/index.js
  apps/publikator/components/editor/modules/meta/ArticleRecommendations/ArticleRecommendations.js
  apps/publikator/components/editor/modules/meta/PaynotesForm.js
  apps/publikator/components/editor/modules/meta/RepoSelect.js
  apps/publikator/components/editor/modules/meta/SeriesForm.js
  apps/publikator/components/editor/modules/teaser/ui.js
  apps/publikator/components/editor/modules/variable/ui.js
  apps/publikator/components/editor/utils/ImageInput.js
  apps/publikator/components/editor/utils/InlineUI.js
  apps/publikator/package.json
  apps/publikator/pages/repo/[owner]/[repo]/edit.js
  apps/publikator/pages/repo/[owner]/[repo]/raw.js
  yarn.lock
Labels: app: publikator

#182 Fixes n Stitches
  apps/www/components/Article/PayNote.js
  apps/www/components/Frame/Header.js
  apps/www/components/Track.js
  apps/www/lib/errors/reportError.ts
  apps/www/pages/api/reportError.ts
Labels: app: www

#181 chore: bump node version requirements to v16
  .github/workflows/test.yml
  .nvmrc
  apps/admin/package.json
  apps/api/package.json
  apps/assets/package.json
  apps/publikator/package.json
  apps/www/package.json
  package.json
  packages/backend-modules/base/package.json
  packages/styleguide/package.json
  yarn.lock
Labels: app: admin, app: api, app: assets, app: publikator, app: www, maintenance

#185 fix(www/discussion): improve the order-by button-styling to better communicate the active state
  packages/styleguide/src/components/Tabs/TabButton.tsx
Labels: app: www

#190 Newsletter signup, CLIMATE, READALOUD
  apps/www/components/Account/NewsletterSubscriptions/index.js
  apps/www/components/Account/enhancers.js
  apps/www/components/Article/Page.js
  apps/www/components/Auth/MacNewsletterSubscription.js
  apps/www/components/Auth/Notification.js
  apps/www/lib/translations.json
  packages/backend-modules/mail/NewsletterSubscription.js
  packages/backend-modules/mail/lib/getNewsletterSettings.js
  packages/backend-modules/mail/templates/newsletter_request_CLIMATE.html
  packages/backend-modules/mail/templates/newsletter_request_CLIMATE.txt
  packages/backend-modules/mail/templates/newsletter_request_READALOUD.html
  packages/backend-modules/mail/templates/newsletter_request_READALOUD.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/republik/.gitignore
  packages/backend-modules/republik/graphql/resolvers/NewsletterSettings.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/requestNewsletterSubscription.js
  packages/backend-modules/republik/graphql/schema-types.js
  packages/backend-modules/republik/script/generateNewsletterHmac.ts
  packages/backend-modules/translate/translations.json
Labels: app: api, app: www

#192 fix(ExpandableLink): ensure enough bottom padding is given on mobile
  packages/styleguide/src/components/ExpandableLink/ExpandableLinkCallout.tsx
Labels: app: www, package: styleguide
