Repository republik/plattform, pull requests merged in 2022-03, with the labels that each got.

#49 fix(ActionBar): flexWrap in seriesEpisode
  apps/www/components/ActionBar/index.js
Labels: app: www

#57 feat(publikator): toggle logged in user in preview
  apps/publikator/components/PreviewFrame/index.js
  apps/publikator/components/Publication/HasAccessToggle.js
  apps/publikator/components/Publication/index.js
  apps/publikator/pages/repo/preview.js
Labels: app: publikator

#29 Project R Publikator needs to die, the other part
  .gitignore
  apps/publikator/components/Publication/Current.js
  apps/publikator/components/Repo/Row.js
  apps/publikator/components/Repo/Table.js
  apps/publikator/components/editor/utils/RepoSearch.js
  apps/publikator/lib/graphql/fragments.js
  apps/www/components/Article/graphql/getDocument.js
  apps/www/components/Bookmarks/BookmarkMiniFeed.js
  apps/www/components/Feed/Feed.js
  apps/www/components/Feed/fragments.js
  apps/www/components/Front/withData.js
  apps/www/pages/[...path].tsx
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/documents/lib/resolve.js
  packages/backend-modules/redirections/__test__/graphql/resolvers/Redirection.u.jest.js
  packages/backend-modules/redirections/graphql/resolvers/_queries/redirection.js
  packages/backend-modules/redirections/graphql/resolvers/_queries/redirections.js
  packages/backend-modules/redirections/graphql/schema.js
  packages/backend-modules/redirections/lib/Redirections.js
  packages/backend-modules/redirections/lib/Redirections.u.jest.js
  packages/backend-modules/search/lib/Documents.js
  packages/styleguide/src/components/TeaserFeed/Container.js
  packages/styleguide/src/components/TeaserFeed/index.js
  packages/styleguide/src/components/TeaserMyMagazine/TeaserMyMagazine.js
  packages/styleguide/src/lib.ts
  packages/styleguide/src/templates/EditorialNewsletter/email/Footer.js
  packages/styleguide/src/templates/EditorialNewsletter/email/Header.js
  packages/styleguide/src/templates/EditorialNewsletter/email/project-r/Footer.js
  packages/styleguide/src/templates/EditorialNewsletter/email/project-r/utils.js
  packages/styleguide/src/templates/Format/index.js
Labels: app: api, app: publikator, app: www

#61 Fix focused comment not loading if it's not inside the initial comment query result
  packages/backend-modules/discussions/graphql/resolvers/Discussion/comments.js
Labels: app: api

#63 feat(documents): process IF hasAccess in document.content
  packages/backend-modules/documents/graphql/resolvers/Document.js
  packages/backend-modules/documents/lib/__snapshots__/process.u.jest.js.snap
  packages/backend-modules/documents/lib/process.js
  packages/backend-modules/documents/lib/process.u.jest.js
  packages/backend-modules/testing/package.json
Labels: app: api

#46 Synthetic Read Aloud
  apps/api/.env.example
  apps/api/server.js
  apps/publikator/.env.example
  apps/publikator/components/Derivatives/index.js
  apps/publikator/components/List.js
  apps/publikator/components/Publication/Current.js
  apps/publikator/components/Publication/PublicationLink.js
  apps/publikator/components/Tree/Diff.js
  apps/publikator/components/Tree/index.js
  apps/publikator/components/Tree/transformData.js
  apps/publikator/lib/graphql/fragments.js
  apps/publikator/pages/repo/tree.js
  apps/www/components/ActionBar/index.js
  apps/www/components/Article/Page.js
  apps/www/components/Article/SyntheticAudio.tsx
  apps/www/components/Article/graphql/getDocument.js
  apps/www/components/Feed/fragments.js
  apps/www/lib/matomo.js
  apps/www/lib/translations.json
  packages/backend-modules/base/express/graphql.js
  packages/backend-modules/base/server.js
  packages/backend-modules/documents/graphql/resolvers/Document.js
  packages/backend-modules/migrations/migrations/20220212005725-derivatives.js
  packages/backend-modules/publikator/.gitignore
  packages/backend-modules/publikator/express/syntheticReadAloud.js
  packages/backend-modules/publikator/express/uncommittedChanges.js
  packages/backend-modules/publikator/express/webhook.js
  packages/backend-modules/publikator/graphql/resolvers/Commit.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/generateDerivative.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/publish.js
  packages/backend-modules/publikator/graphql/schema-types.js
  packages/backend-modules/publikator/graphql/schema.js
  packages/backend-modules/publikator/lib/Derivative/SyntheticReadAloud.ts
  packages/backend-modules/publikator/lib/PublicationScheduler.js
  packages/backend-modules/publikator/loaders/Derivative.ts
  packages/backend-modules/publikator/loaders/index.ts
  packages/backend-modules/publikator/migrations/sqls/20220212005725-derivatives-down.sql
  packages/backend-modules/publikator/migrations/sqls/20220212005725-derivatives-up.sql
  packages/backend-modules/translate/translations.json
  packages/backend-modules/types/index.d.ts
  packages/styleguide/src/templates/Article/index.js
  packages/styleguide/src/templates/Discussion/index.js
  packages/styleguide/src/templates/EditorialNewsletter/schema.js
  packages/styleguide/src/templates/Page/index.js
Labels: app: api, app: publikator, app: www

#70 Allow closing overlays by pressing the ESC key
  packages/styleguide/src/components/Overlay/Overlay.tsx
Labels: package: styleguide

#38 Add suppport for Apple- / Google-Pay to the checkout
  README.md
  apps/www/components/Payment/Form.js
  apps/www/components/Payment/Form/ApplePayMark.tsx
  apps/www/components/Payment/Form/GooglePayMark.tsx
  apps/www/components/Payment/Form/StripeWalletHelpers.tsx
  apps/www/components/Payment/PaymentRequest/PaymentRequestEventHelper.ts
  apps/www/components/Payment/PaymentRequest/PaymentRequestOption.helper.ts
  apps/www/components/Payment/PaymentRequest/usePaymentRequest.ts
  apps/www/components/Pledge/Submit.js
  apps/www/lib/debug/timeout.ts
  apps/www/lib/translations.json
  apps/www/package.json
  apps/www/pages/angebote.js
  package.json
  packages/backend-modules/republik-crowdfundings/graphql/schema-types.js
  packages/backend-modules/republik-crowdfundings/lib/payments/stripe/paymentMethod.js
  packages/backend-modules/republik-crowdfundings/lib/payments/stripe/paymentSource.js
  yarn.lock
Labels: app: api, app: www
