Repository republik/plattform, pull requests merged in 2023-04, with the labels that each got.

#419 feat(pledge): removed future campaign reward
  packages/backend-modules/mail/templates/future_campaign_sender_reward.html
  packages/backend-modules/mail/templates/future_campaign_sender_reward.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/republik-crowdfundings/lib/futureCampaignSenderReward.js
  packages/backend-modules/republik-crowdfundings/lib/payments/Pledge.js
  packages/backend-modules/translate/translations.json
Labels: app: api

#434 Let Editor Crash More Gracefully
  apps/publikator/components/editor/MdastPage.js
  packages/styleguide/src/lib.ts
Labels: app: publikator

#426 feat(www): get rid of code related to future-campaign
  apps/www/components/CallToActions/CustomComponentRegistry.ts
  apps/www/components/CallToActions/customComponents/.gitkeep
  apps/www/components/CallToActions/customComponents/FutureCampaignBanner.tsx
  apps/www/components/Frame/Popover/UserNav.js
  apps/www/components/FutureCampaign/FutureCampaignPage.tsx
  apps/www/components/FutureCampaign/ReceiverPage/CountDownTime.test.tsx
  apps/www/components/FutureCampaign/ReceiverPage/CountdownTime.tsx
  apps/www/components/FutureCampaign/ReceiverPage/Details.tsx
  apps/www/components/FutureCampaign/ReceiverPage/FutureCampaignHeader.tsx
  apps/www/components/FutureCampaign/ReceiverPage/InviteReceiverPage.tsx
  apps/www/components/FutureCampaign/ReceiverPage/PriceSlider/PriceSlider.tsx
  apps/www/components/FutureCampaign/ReceiverPage/PriceSlider/config.ts
  apps/www/components/FutureCampaign/ReceiverPage/PriceSlider/helpers.ts
  apps/www/components/FutureCampaign/ReceiverPage/steps/BottomPanel.tsx
  apps/www/components/FutureCampaign/ReceiverPage/steps/Button.tsx
  apps/www/components/FutureCampaign/ReceiverPage/steps/IntroductionaryStep.tsx
  apps/www/components/FutureCampaign/ReceiverPage/steps/SelectYourPriceStep.tsx
  apps/www/components/FutureCampaign/SenderPage/Confetti.tsx
  apps/www/components/FutureCampaign/SenderPage/InviteSenderPage.tsx
  apps/www/components/FutureCampaign/SenderPage/RewardProgress.tsx
  apps/www/components/FutureCampaign/constants.ts
  apps/www/components/FutureCampaign/graphql/consentOperations.ts
  apps/www/components/FutureCampaign/graphql/useCarouselQuery.ts
  apps/www/components/FutureCampaign/graphql/useNumOfRedeemedInvitesQuery.ts
  apps/www/components/FutureCampaign/graphql/useUserInviteQuery.ts
  apps/www/components/FutureCampaign/withDarkMode.tsx
  apps/www/next.config.js
  apps/www/package.json
  apps/www/pages/5-jahre-republik/[code].tsx
  apps/www/pages/5-jahre-republik/index.tsx
  apps/www/pages/verstaerkung-holen.tsx
  apps/www/public/static/5-jahre-republik/logo/combo-logo_white.svg
  apps/www/public/static/5-jahre-republik/logo/logo-lg_white.svg
  apps/www/public/static/5-jahre-republik/logo/logo-sm_white.svg
  apps/www/public/static/5-jahre-republik/receiver/share.png
  apps/www/public/static/5-jahre-republik/receiver/slider-step-0.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-1.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-2.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-3.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-4.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-5.svg
  apps/www/public/static/5-jahre-republik/receiver/slider-step-6.svg
  apps/www/public/static/5-jahre-republik/receiver/visualisierung-5jahr-totebag-traeger-gefaltet.png
  apps/www/public/static/5-jahre-republik/receiver/visualisierung-5jahr-totebag.png
  apps/www/public/static/5-jahre-republik/sender/gift.png
  apps/www/public/static/5-jahre-republik/sender/gift_white.png
  apps/www/public/static/5-jahre-republik/sender/invite_others-white.png
  apps/www/public/static/5-jahre-republik/sender/invite_others.png
  apps/www/public/static/5-jahre-republik/sender/receive-months.svg
  apps/www/public/static/5-jahre-republik/sender/receive-months_white.svg
  apps/www/public/static/5-jahre-republik/sender/send-invite.svg
  apps/www/public/static/5-jahre-republik/sender/send-invite_white.svg
  yarn.lock
Labels: app: www

#442 chore: bump turbo to v1.9.0
  package.json
  yarn.lock
Labels: maintenance

#441 feat: allow reporting user profiles
  apps/www/components/Profile/Page.js
  apps/www/components/Profile/graphql/useReportUserMutation.ts
  apps/www/lib/translations.json
  packages/backend-modules/republik/graphql/resolvers/_mutations/reportUser.js
  packages/backend-modules/republik/graphql/schema.js
  packages/backend-modules/republik/lib/slack.js
  packages/backend-modules/translate/translations.json
Labels: app: api, app: www

#444 feat(web): add logic to persist climatelab-member state across session to prevent nav flickering
  apps/www/components/Frame/SecondaryNav.js
  apps/www/lib/context/MeContext.tsx
Labels: app: www

#399 Docs Setup Part 2
  .vscode/extensions.json
  .vscode/settings.json
  docs/demos/avatar.tsx
  docs/lib/components/component-demo.module.css
  docs/lib/components/component-demo.tsx
  docs/lib/components/icon-explorer.module.css
  docs/lib/components/icon-explorer.tsx
  docs/lib/components/props-table.module.css
  docs/lib/components/props-table.tsx
  docs/lib/examples/component-demo-example.tsx
  docs/lib/examples/component-example.module.css
  docs/lib/examples/component-example.tsx
  docs/lib/index.ts
  docs/lib/rehype/rehype-component-demo.mjs
  docs/lib/rehype/unist-mdx-element.mjs
  docs/lib/styles.css
  docs/lib/webpack/props-loader.js
  docs/lib/with-docs.mjs
  docs/next.config.mjs
  docs/package.json
  docs/pages/_app.mdx
  docs/pages/_meta.json
  docs/pages/about/_meta.json
  docs/pages/about/components/component-demo.mdx
  docs/pages/about/components/props-table.mdx
  docs/pages/about/index.mdx
  docs/pages/components/_meta.json
  docs/pages/components/avatar.mdx
  docs/pages/components/icons.mdx
  docs/pages/components/index.mdx
  docs/pages/components/legacy/buttons.mdx
  docs/pages/design-system/_meta.json
  docs/pages/design-system/index.mdx
  docs/pages/index.mdx
  docs/pages/playground.mdx
  docs/pages/ux/_meta.json
  docs/pages/ux/index.mdx
  docs/theme.config.tsx
  docs/tsconfig.json
  docs/types/props-loader.d.ts
  packages/ui-docs-demo/.eslintrc.js
  packages/ui-docs-demo/README.md
  packages/ui-docs-demo/env.d.ts
  packages/ui-docs-demo/package.json
  packages/ui-docs-demo/src/avatar/avatar.module.css
  packages/ui-docs-demo/src/avatar/avatar.tsx
  packages/ui-docs-demo/src/avatar/paragraph.tsx
  packages/ui-docs-demo/src/index.tsx
  packages/ui-docs-demo/tsconfig.json
  yarn.lock
Labels: docs

#447 fix(Cockpit): remove growth-goal
  apps/www/components/Crowdfunding/Status.js
  apps/www/lib/translations.json
  apps/www/pages/cockpit.js
Labels: app: www

#446 fix(publikator): upsert Auphonic production on publish
  packages/backend-modules/documents/lib/common/meta.js
  packages/backend-modules/publikator/.gitignore
  packages/backend-modules/publikator/graphql/resolvers/_mutations/publish.js
  packages/backend-modules/publikator/lib/auphonic/index.ts
Labels: app: api

#429 fix(www): only upsert-media-progress to server if member
  apps/www/components/Account/ProgressSettings.js
  apps/www/components/Article/Page.js
  packages/backend-modules/collections/graphql/resolvers/Document.js
  packages/backend-modules/collections/graphql/resolvers/PlayableMedia.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/addDocumentToCollection.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/upsertDocumentProgress.js
  packages/backend-modules/collections/graphql/resolvers/_mutations/upsertMediaProgress.js
  packages/backend-modules/collections/graphql/resolvers/_queries/mediaProgress.js
Labels: app: www

#459 fix/replace hardcoded icons
  packages/icons/lib/svg/EditCircle.svg
  packages/styleguide/src/components/Discussion/Internal/Comment/IconLink.js
  packages/styleguide/src/components/Discussion/Internal/Composer/Header.tsx
Labels: package: styleguide, package: icons
