Repository republik/plattform, pull requests merged in 2023-05, with the labels that each got.

#458 chore: update jest & testing-library dependencies and use jest to run tests in styleguide
  apps/admin/jest.setup.js
  apps/admin/package.json
  apps/publikator/jest.setup.js
  apps/publikator/package.json
  apps/www/jest.setup.js
  apps/www/package.json
  packages/backend-modules/documents/lib/mdast/__snapshots__/process.u.jest.js.snap
  packages/backend-modules/republik/lib/__snapshots__/fakeUUID.u.jest.js.snap
  packages/backend-modules/testing/package.json
  packages/backend-modules/utils/__snapshots__/mdastCollapseLink.u.jest.js.snap
  packages/styleguide/jest.config.js
  packages/styleguide/jest.setup.js
  packages/styleguide/package.json
  packages/styleguide/src/components/Editor/test/block-conversion.test.js
  packages/styleguide/src/components/Editor/test/block-insertion.test.js
  packages/styleguide/src/components/Editor/test/copy-paste.test.js
  packages/styleguide/src/components/Editor/test/inline-handling.test.js
  packages/styleguide/src/components/Editor/test/marks-handling.test.js
  packages/styleguide/src/components/Editor/test/navigation.test.js
  packages/styleguide/src/components/Editor/test/normalisation.test.js
  packages/styleguide/src/components/Editor/test/structure-helpers.test.js
  packages/styleguide/src/components/Editor/test/text-helpers.test.js
  yarn.lock
Labels: app: admin, app: api, app: publikator, app: www, package: styleguide

#466 feat(www): audioplayer autoplay refactoring
  apps/www/components/ActionBar/index.js
  apps/www/components/Audio/AudioPlayer/AudioPlaybackElement.tsx
  apps/www/components/Audio/AudioPlayer/AudioPlayer.tsx
  apps/www/components/Audio/AudioPlayer/ExpandedAudioPlayer.tsx
  apps/www/components/Audio/AudioPlayer/controls/AudioControl.tsx
  apps/www/components/Audio/AudioPlayer/ui/tabs/queue/EmptyQueue.tsx
  apps/www/components/Audio/AudioPlayerController.tsx
  apps/www/components/Audio/hooks/useMediaSession.tsx
  apps/www/components/Audio/types/AudioEvent.ts
  apps/www/components/Audio/types/AudioPlayerItem.ts
  apps/www/components/CallToActions/CustomComponentRegistry.ts
  apps/www/lib/translations.json
  packages/icons/lib/svg/Autopause.svg
  packages/icons/lib/svg/Autoplay.svg
Labels: app: www

#462 Allow optional bg query string to (audio cover) image URL
  packages/backend-modules/assets/lib/returnImage.js
  packages/backend-modules/assets/package.json
  packages/backend-modules/documents/lib/common/meta.js
  packages/backend-modules/publikator/lib/auphonic/index.ts
Labels: app: api

#469 fix(www): wait for contactState change
  apps/www/components/Pledge/Submit.js
  packages/backend-modules/republik-crowdfundings/graphql/resolvers/_mutations/submitPledge.js
Labels: app: api, app: www

#472 fix(admin): avoid error if no credential is listed
  apps/admin/components/Users/Dialog/Credentials.js
Labels: app: admin

#464 ProlLitteris part 1
  apps/www/components/Account/ProlitterisSettings.js
  apps/www/components/CallToActions/CTAAnimatedBase.tsx
  apps/www/components/CallToActions/CallToActionBanner.tsx
  apps/www/components/CallToActions/CustomComponentRegistry.ts
  apps/www/components/CallToActions/customComponents/DatenschutzBanner.tsx
  apps/www/lib/apollo/withMe.js
  apps/www/lib/constants.js
  apps/www/lib/context/MeContext.tsx
  apps/www/lib/translations.json
  apps/www/lib/withForcedColorScheme.tsx
  apps/www/pages/konto/einstellungen.js
  packages/backend-modules/auth/lib/Consents.js
Labels: app: www

#477 Replace geoip-database package w/ file from MaxMind
  package.json
  packages/backend-modules/auth/lib/geoForIP.js
  packages/backend-modules/auth/package.json
  scripts/download-geoip-data.sh
  scripts/heroku-postbuild.sh
  yarn.lock
Labels: app: api
