Repository republik/plattform, pull requests merged in 2023-03, with the labels that each got.

#377 Klimafragen wrap up
  apps/www/components/Climatelab/Questionnaire/Person.js
  apps/www/components/Questionnaire/Questionnaire.js
  apps/www/components/Questionnaire/enhancers.js
  packages/backend-modules/voting/graphql/resolvers/Questionnaire.js
  packages/backend-modules/voting/graphql/schema-types.js
  packages/backend-modules/voting/lib/Submission.js
  packages/backend-modules/voting/lib/queries.js
Labels: app: api, app: www

#368 Sunset Winter-is-coming Newsletter
  apps/www/components/Marketing/Sections.js
  apps/www/lib/translations.json
  packages/backend-modules/mail/templates/newsletter_request_WINTER.html
  packages/backend-modules/mail/templates/newsletter_request_WINTER.txt
  packages/backend-modules/republik-crowdfundings/lib/Mail.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/requestNewsletterSubscription.js
  packages/backend-modules/republik/graphql/schema-types.js
  packages/backend-modules/translate/translations.json
  packages/styleguide/src/templates/EditorialNewsletter/email/Header.js
Labels: app: api, app: www

#374 Refactor Payment Reminder, add YEARLY_ABO
  packages/backend-modules/mail/templates/payment_reminder_abo.html
  packages/backend-modules/mail/templates/payment_reminder_abo.txt
  packages/backend-modules/mail/templates/payment_reminder_abo_give.html
  packages/backend-modules/mail/templates/payment_reminder_abo_give.txt
  packages/backend-modules/mail/templates/payment_reminder_abo_give_months.html
  packages/backend-modules/mail/templates/payment_reminder_abo_give_months.txt
  packages/backend-modules/mail/templates/payment_reminder_benefactor.html
  packages/backend-modules/mail/templates/payment_reminder_benefactor.txt
  packages/backend-modules/mail/templates/payment_reminder_donate.html
  packages/backend-modules/mail/templates/payment_reminder_donate.txt
  packages/backend-modules/mail/templates/payment_reminder_donate_pot.html
  packages/backend-modules/mail/templates/payment_reminder_donate_pot.txt
  packages/backend-modules/mail/templates/payment_reminder_last_abo.html
  packages/backend-modules/mail/templates/payment_reminder_last_abo.txt
  packages/backend-modules/mail/templates/payment_reminder_last_abo_give.html
  packages/backend-modules/mail/templates/payment_reminder_last_abo_give.txt
  packages/backend-modules/mail/templates/payment_reminder_last_abo_give_months.html
  packages/backend-modules/mail/templates/payment_reminder_last_abo_give_months.txt
  packages/backend-modules/mail/templates/payment_reminder_last_benefactor.html
  packages/backend-modules/mail/templates/payment_reminder_last_benefactor.txt
  packages/backend-modules/mail/templates/payment_reminder_last_donate.html
  packages/backend-modules/mail/templates/payment_reminder_last_donate.txt
  packages/backend-modules/mail/templates/payment_reminder_last_donate_pot.html
  packages/backend-modules/mail/templates/payment_reminder_last_donate_pot.txt
  packages/backend-modules/mail/templates/payment_reminder_last_mask.html
  packages/backend-modules/mail/templates/payment_reminder_last_mask.txt
  packages/backend-modules/mail/templates/payment_reminder_last_prolong.html
  packages/backend-modules/mail/templates/payment_reminder_last_prolong.txt
  packages/backend-modules/mail/templates/payment_reminder_last_tablebook.html
  packages/backend-modules/mail/templates/payment_reminder_last_tablebook.txt
  packages/backend-modules/mail/templates/payment_reminder_last_yearly_abo.html
  packages/backend-modules/mail/templates/payment_reminder_last_yearly_abo.txt
  packages/backend-modules/mail/templates/payment_reminder_mask.html
  packages/backend-modules/mail/templates/payment_reminder_mask.txt
  packages/backend-modules/mail/templates/payment_reminder_prolong.html
  packages/backend-modules/mail/templates/payment_reminder_prolong.txt
  packages/backend-modules/mail/templates/payment_reminder_tablebook.html
  packages/backend-modules/mail/templates/payment_reminder_tablebook.txt
  packages/backend-modules/mail/templates/payment_reminder_yearly_abo.html
  packages/backend-modules/mail/templates/payment_reminder_yearly_abo.txt
  packages/backend-modules/republik-crowdfundings/lib/payments/paymentslip/sendPaymentReminders.ts
  packages/backend-modules/translate/translations.json
Labels: app: api

#376 refactor(search): replace answer index w/ nested query
  packages/backend-modules/search/lib/NotifyListener.js
  packages/backend-modules/search/lib/indices/answers.js
  packages/backend-modules/search/lib/indices/index.js
  packages/backend-modules/search/lib/inserts/answer.js
  packages/backend-modules/search/lib/inserts/index.js
  packages/backend-modules/voting/lib/Submission.js
Labels: app: api

#385 feat(www): add carpet for feb 2023
  apps/www/components/Overview/pages/2023.js
Labels: app: www

#382 Fix permissions comment
  apps/www/components/Discussion/DiscussionComposer/DiscussionComposer.tsx
  apps/www/components/Discussion/DiscussionComposer/DiscussionComposerBarrier.tsx
  packages/backend-modules/discussions/graphql/resolvers/_mutations/editComment.js
  packages/backend-modules/discussions/graphql/resolvers/_mutations/unpublishComment.js
Labels: app: api, app: www

#308 feat: add read-aloud publish notifications
  apps/publikator/components/Publication/PublicationForm.js
  apps/publikator/components/Publication/index.js
  apps/publikator/lib/translations.json
  apps/www/components/ActionBar/Audio/Info.js
  apps/www/components/ActionBar/AudioInfo.js
  apps/www/components/ActionBar/graphql/EventObjectType.ts
  apps/www/components/ActionBar/graphql/useSubscribeDocumentMutation.ts
  apps/www/components/ActionBar/graphql/useUnsubscribeDocumentMutation.ts
  apps/www/components/ActionBar/index.js
  apps/www/components/Notifications/NotificationFeedMini.js
  apps/www/components/Notifications/SubscribeCheckbox.js
  apps/www/components/Notifications/SubscribeDocument.js
  apps/www/components/Notifications/SubscribeMenu.js
  apps/www/components/Notifications/SubscribedDocuments.js
  apps/www/components/Notifications/enhancers.js
  apps/www/components/Onboarding/Sections/Subscriptions.js
  apps/www/lib/translations.json
  packages/backend-modules/cards/lib/cards.js
  packages/backend-modules/discussions/lib/Notifications.js
  packages/backend-modules/documents/lib/common/meta.js
  packages/backend-modules/migrations/migrations/20230308073821-active-filters.js
  packages/backend-modules/publikator/graphql/resolvers/_mutations/publish.js
  packages/backend-modules/publikator/graphql/schema-types.js
  packages/backend-modules/publikator/graphql/schema.js
  packages/backend-modules/publikator/lib/Document.js
  packages/backend-modules/publikator/lib/Notifications.js
  packages/backend-modules/publikator/lib/PublicationScheduler.js
  packages/backend-modules/subscriptions/graphql/resolvers/Discussion.js
  packages/backend-modules/subscriptions/graphql/schema-types.js
  packages/backend-modules/subscriptions/lib/Document.js
  packages/backend-modules/subscriptions/lib/Subscriptions.js
  packages/backend-modules/subscriptions/migrations/sqls/20230308073821-active-filters-down.sql
  packages/backend-modules/subscriptions/migrations/sqls/20230308073821-active-filters-up.sql
  packages/backend-modules/translate/translations.json
  packages/styleguide/src/components/Callout/CalloutMenu.tsx
Labels: app: api, app: publikator, app: www

#398 🚨 Zukunftskampagne: Störer für Sender MIA
  apps/api/package.json
  apps/api/server.js
  apps/assets/package.json
  apps/www/components/CallToActions/CallToActionBanner.tsx
  apps/www/components/CallToActions/CustomComponentBase.ts
  apps/www/components/CallToActions/CustomComponentRegistry.ts
  apps/www/components/CallToActions/customComponents/FutureCampaignBanner.tsx
  apps/www/components/CallToActions/graphql/CallToAction.ts
  apps/www/components/CallToActions/graphql/useAcknowledgeCTAMutation.ts
  apps/www/components/CallToActions/graphql/useCallToActionsQuery.ts
  apps/www/components/CallToActions/useCallToAction.ts
  apps/www/components/Frame/index.js
  apps/www/components/FutureCampaign/withDarkMode.tsx
  apps/www/lib/hooks/useIntersectionObserver.ts
  apps/www/lib/translations.json
  packages/backend-modules/call-to-actions/.gitignore
  packages/backend-modules/call-to-actions/README.md
  packages/backend-modules/call-to-actions/graphql/index.js
  packages/backend-modules/call-to-actions/graphql/resolvers/User.js
  packages/backend-modules/call-to-actions/graphql/resolvers/_mutations/acknowledgeCallToAction.js
  packages/backend-modules/call-to-actions/graphql/schema-types.js
  packages/backend-modules/call-to-actions/graphql/schema.js
  packages/backend-modules/call-to-actions/index.ts
  packages/backend-modules/call-to-actions/lib/cache.js
  packages/backend-modules/call-to-actions/migrations/sqls/20230309160825-setup-down.sql
  packages/backend-modules/call-to-actions/migrations/sqls/20230309160825-setup-up.sql
  packages/backend-modules/call-to-actions/package.json
  packages/backend-modules/call-to-actions/tsconfig.json
  packages/backend-modules/migrations/migrations/20230309160825-setup.js
  packages/backend-modules/translate/translations.json
  packages/backend-modules/utils/.gitignore
  packages/backend-modules/utils/script/deleteCache.ts
  turbo.json
Labels: app: api, app: www

#403 chore(republik): drop table cashPayments
  packages/backend-modules/migrations/migrations/20230316094520-drop-cash-payments.js
  packages/backend-modules/republik/migrations/sqls/20230316094520-drop-cash-payments-down.sql
  packages/backend-modules/republik/migrations/sqls/20230316094520-drop-cash-payments-up.sql
Labels: app: api, maintenance

#404 fix(republik): extractPersonalData, add additional tables
  packages/backend-modules/republik/script/gdpr/extractPersonalData.js
Labels: app: api

#405 Calculate finance data for YEARLY_ABO
  packages/backend-modules/republik/script/finance/calculateKpis.js
Labels: app: api

#390 Index and search meta.contributors instead of meta.credits.children.url
  packages/backend-modules/documents/graphql/resolvers/Contributor.js
  packages/backend-modules/documents/graphql/resolvers/Meta.js
  packages/backend-modules/documents/graphql/schema-types.js
  packages/backend-modules/documents/lib/mdast/meta.js
  packages/backend-modules/documents/lib/meta.js
  packages/backend-modules/documents/lib/slate/meta.js
  packages/backend-modules/publikator/lib/Document.js
  packages/backend-modules/search/lib/Documents.js
  packages/backend-modules/search/lib/indices/documents.js
  packages/backend-modules/subscriptions/lib/Document.js
Labels: app: api

#402 fix(www): check if closeHandler is available
  apps/www/components/Sections/Featured.js
Labels: app: www

#411 fix(www): add sharp as a dependency for image optimization in production
  apps/www/package.json
  yarn.lock
Labels: app: www

#412 feat(www): allow closing/minimizing audioplayer from navbar-toggle
  apps/www/components/Frame/Header.js
  apps/www/components/Frame/Toggle.js
Labels: app: www

#421 fix(www): nav-toggle regression
  apps/www/components/Frame/Header.js
  apps/www/components/Frame/Toggle.js
Labels: bug, app: www
