Repository republik/plattform, pull requests merged in 2023-01, with the labels that each got.

#321 feat(www): get rid of donation section on the '/en' page
  apps/www/pages/en.js
Labels: app: www

#324 fix(styleguide): add climate to EditorialNewsletter/email template
  apps/www/public/static/logo_republik_newsletter_climate-1.png
  packages/styleguide/src/templates/EditorialNewsletter/email/Header.js
Labels: package: styleguide

#325 feat: climate-lab release prep
  apps/www/components/Climatelab/Onboarding/Postcard.js
  apps/www/components/Climatelab/Postcard/PostcardGenerator.js
  apps/www/components/Marketing/index.js
  apps/www/lib/translations.json
  apps/www/pages/willkommen-zum-klimalabor.tsx
  packages/backend-modules/mail/templates/access_recipient_onboarding_klimalabor.html
  packages/backend-modules/mail/templates/access_recipient_onboarding_klimalabor.txt
Labels: app: www

#328 Fix Token Validation
  packages/backend-modules/auth/graphql/resolvers/_queries/unauthorizedSession.js
  packages/backend-modules/auth/lib/Users.js
  packages/backend-modules/auth/lib/challenges/EmailTokenChallenge.js
Labels: bug, app: api

#326 feat(assets): allow controlling quality of the resized images via the query-params
  apps/www/lib/images/assetServerImageLoader.ts
  packages/backend-modules/assets/lib/returnImage.js
Labels: app: assets

#336 fix(www/article): only re-initialize the Photoswipe gallery, when ever the items actually change
  apps/www/components/Gallery/Gallery.js
Labels: bug, app: www

#335 Harden qry stmts, validate email inputs
  packages/backend-modules/access/lib/constraints/limitGrants.js
  packages/backend-modules/access/lib/constraints/limitRevokedSlots.js
  packages/backend-modules/access/lib/constraints/limitSlots.js
  packages/backend-modules/access/lib/constraints/recipientInNoSlot.js
  packages/backend-modules/access/lib/constraints/requireExistingGrants.js
  packages/backend-modules/access/lib/constraints/requireGiftableMembership.js
  packages/backend-modules/access/lib/constraints/requirePackage.js
  packages/backend-modules/access/lib/grants.js
  packages/backend-modules/access/package.json
  packages/backend-modules/auth/graphql/resolvers/_mutations/updateEmail.js
  packages/backend-modules/auth/lib/Users.js
  packages/backend-modules/republik-crowdfundings/graphql/resolvers/_mutations/submitPledge.js
  packages/backend-modules/republik-crowdfundings/lib/generateMemberships.js
  packages/backend-modules/republik-crowdfundings/package.json
  packages/backend-modules/republik/graphql/resolvers/_mutations/requestNewsletterSubscription.js
  packages/backend-modules/republik/graphql/resolvers/_mutations/updateNewsletterSubscription.js
Labels: app: api

#333 Fix ImageChoice answers indexing, mutation anonymizeUserAnswers
  packages/backend-modules/search/lib/indices/answers.js
  packages/backend-modules/search/lib/indices/questionnaireSubmissions.js
  packages/backend-modules/search/lib/inserts/answer.js
  packages/backend-modules/search/lib/inserts/questionnairesubmission.js
  packages/backend-modules/voting/graphql/resolvers/QuestionTypeImageChoice.js
  packages/backend-modules/voting/graphql/resolvers/_mutations/anonymizeUserAnswers.js
  packages/backend-modules/voting/graphql/schema-types.js
  packages/backend-modules/voting/lib/Question/index.js
  packages/backend-modules/voting/lib/Questionnaire.js
  packages/backend-modules/voting/lib/Submission.js
Labels: app: api

#338 refactor(www): enhance AssetsImage to load static files directly if in dev
  apps/www/lib/images/AssetImage.tsx
Labels: app: www

#337 Handle pseudonym and anonymized submissions
  apps/www/components/Climatelab/Postcard/Gallery/PostcardFilter.tsx
  apps/www/components/Climatelab/Postcard/Gallery/PostcardSingleCardView.tsx
  apps/www/components/Climatelab/Postcard/PostcardPreview.js
  apps/www/components/Climatelab/Postcard/use-postcard-data.ts
  packages/backend-modules/migrations/migrations/20230117182951-anonymized-submissions.js
  packages/backend-modules/search/lib/indices/questionnaireSubmissions.js
  packages/backend-modules/search/lib/inserts/answer.js
  packages/backend-modules/search/lib/inserts/questionnairesubmission.js
  packages/backend-modules/voting/graphql/resolvers/Submission.js
  packages/backend-modules/voting/graphql/resolvers/_mutations/anonymizeUserAnswers.js
  packages/backend-modules/voting/graphql/schema-types.js
  packages/backend-modules/voting/lib/Submission.js
  packages/backend-modules/voting/migrations/sqls/20230117182951-anonymized-submissions-down.sql
  packages/backend-modules/voting/migrations/sqls/20230117182951-anonymized-submissions-up.sql
Labels: app: api, app: www

#327 feat(publikator): add predicate to check access to docs in phases
  packages/backend-modules/publikator/graphql/resolvers/_queries/repo.js
  packages/backend-modules/publikator/graphql/resolvers/_queries/reposSearch.js
  packages/backend-modules/publikator/lib/cache/search.ts
  packages/backend-modules/publikator/lib/phases.ts
Labels: app: api

#342 Add access token scope NOW_YOU_SEE_ME, query user w/ an access token
  packages/backend-modules/auth/graphql/resolvers/_queries/user.js
  packages/backend-modules/auth/graphql/schema-types.js
  packages/backend-modules/auth/graphql/schema.js
  packages/backend-modules/auth/lib/AccessToken.js
Labels: app: api
