Repository republik/plattform, pull requests merged in 2023-06, with the labels that each got.

#478 chore(base): replace package graphql-tools w/ @graphql-tools/schema
  packages/backend-modules/base/express/graphql.js
  packages/backend-modules/base/package.json
  yarn.lock
Labels: app: api

#481 chore(eslint-config-fronten): update eslint setup to only use typescript eslint parser
  docs/next.config.mjs
  packages/eslint-config-frontend/index.js
  packages/eslint-config-frontend/package.json
  yarn.lock
Labels: maintenance

#475 Measure mp3 duration on commit
  apps/api/.env.example
  packages/backend-modules/publikator/.gitignore
  packages/backend-modules/publikator/graphql/resolvers/_mutations/commit.js
  packages/backend-modules/publikator/lib/Document.js
  packages/backend-modules/publikator/lib/audioSource.ts
  packages/backend-modules/publikator/script/migrateAudioSources.ts
Labels: app: api

#487 chore(wwww): add ip to error message possibly thrown in 'truncateIP'
  apps/www/lib/api/TruncateIP.ts
Labels: app: www
